[Unit]
Description=sideweed
Documentation=https://github.com/targetaidev/sideweed/blob/master/README.md
Wants=network-online.target
After=network-online.target
AssertFileIsExecutable=/usr/local/bin/sideweed

[Service]
User=nobody
Group=nogroup

EnvironmentFile=/etc/default/sideweed

ExecStart=/usr/local/bin/sideweed $SIDEWEED_OPTIONS $SIDEWEED_SITES

# Let systemd restart this service always
Restart=always

# Specifies the maximum file descriptor number that can be opened by this process
LimitNOFILE=65536

# Disable timeout logic and wait until process is stopped
TimeoutStopSec=infinity
SendSIGKILL=no

[Install]
WantedBy=multi-user.target
